/ {
    chosen {
        zmk,kscan = &custom_kscan;
    };

    custom_kscan: kscan_custom {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        row-gpios
            = <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 0
            , <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 1
            , <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 2
            , <&gpio1 0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 3 (Thumb Cluster Pin 100)
            ;

        col-gpios
            = <&gpio0 31 GPIO_ACTIVE_HIGH> // Col 0 (Outer Pinky Pin 31)
            , <&gpio0 29 GPIO_ACTIVE_HIGH> // Col 1
            , <&gpio0 2  GPIO_ACTIVE_HIGH> // Col 2
            , <&gpio1 15 GPIO_ACTIVE_HIGH> // Col 3
            , <&gpio1 13 GPIO_ACTIVE_HIGH> // Col 4
            , <&gpio1 11 GPIO_ACTIVE_HIGH> // Col 5 (Inner Index Pin 111)
            ;
    };
};
