/* Put this inside config/corne_right.overlay */
&custom_kscan {
    // REVERSES THE HARDWARE SCANNING ARRAY SPECIFICALLY FOR YOUR RHS WIRING
    col-gpios
        = <&gpio0 31 GPIO_ACTIVE_HIGH> // Inner Index (Pin 31)
        , <&gpio0 29 GPIO_ACTIVE_HIGH> // Index (Pin 29)
        , <&gpio0 2  GPIO_ACTIVE_HIGH> // Middle (Pin 2)
        , <&gpio1 15 GPIO_ACTIVE_HIGH> // Ring (Pin 115)
        , <&gpio1 13 GPIO_ACTIVE_HIGH> // Pinky (Pin 113)
        , <&gpio1 11 GPIO_ACTIVE_HIGH> // Outer Pinky (Pin 111)
        ;
};
